<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/custom.css"/>
</head>
<body ng-app="cartApp">
    <nav class="navbar" ng-controller="navigationController">
        <div class="container">
            <a class="navbar-brand" href="#">Online Movie Store</a>
            <div class="navbar-right">
                <div class="container minicart"><p>{{itemsInCart}} items</p></div>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <div class="col-md-5 col-sm-12" ng-controller="summaryController">
            <div class="bigcart"></div>
            <h1>Recent Orders</h1>
            <div class="col-md-5 col-sm-12 text-left">
                <ul>
                    <li class="row list-inline columnCaptions order-history">
                        <span>ORDER</span>
                        <span>Price</span>
                    </li>
                    <li ng-repeat="order in orders" class="row order-history">
                        <span class="quantity">{{order.id}}</span>
                        <span class="price">{{order.totalPrice | currency}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 text-left" ng-controller="cartController">
            <div ng-show="cart.products.length === 0">
                <h3>Your cart is empty</h3>
                <p><button ng-click="reload()">Reload</button></p>
            </div>
            <div ng-show="cart.products.length > 0">
                <ul>
                    <li class="row list-inline columnCaptions">
                        <span>QTY</span>
                        <span>ITEM</span>
                        <span>Price</span>
                    </li>
                    <li class="row" ng-repeat="product in cart.products">
                        <span class="quantity">{{product.quantity}}</span>
                        <span class="itemName">{{product.item}}</span>
                        <span class="popbtn"><a class="arrow"></a></span>
                        <span class="price">{{product.unitPrice | currency}}</span>
                    </li>
                    <li class="row totals">
                        <span class="itemName">Total:</span>
                        <span class="price">{{totalPrice | currency}}</span>
                        <span class="order"> <a class="text-center" ng-click="submit()">ORDER</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- The popover content -->
    <div id="popover" style="display: none">
        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

    <!-- JavaScript includes -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/customjs.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-underscore/angular-underscore.js"></script>
    <script src="../scripts/cartApp.js"></script>
    <script src="../scripts/cartServices.js"></script>
    <script src="../scripts/cartControllers.js"></script>
</body>
</html>