<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Cart w/ Broadcasted Messages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/custom.css"/>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
</head>
<body ng-app="cartApp">
    <nav class="navbar" ng-controller="navigationController">
        <div class="container">
            <a class="navbar-brand" href="#">Online Movie Store</a>
            <div class="navbar-right">
                <div class="container minicart"><p>{{linesInCart}} lines, {{totalCartPrice() | currency}}</p></div>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <div class="col-md-5 col-sm-12" ng-controller="summaryController">
            <div class="bigcart"></div>
            <h1>Recent Orders</h1>
            <div class="col-md-5 col-sm-12 text-left">
                <p ng-show="orders.length === 0">No orders exist</p>
                <ul ng-show="orders.length > 0">
                    <li class="row list-inline columnCaptions order-history">
                        <span>ORDER</span>
                        <span>Price</span>
                    </li>
                    <li ng-repeat="order in orders" class="row order-history">
                        <span class="quantity">{{order.id}}</span>
                        <span class="price">{{order.totalPrice | currency}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 text-left" ng-controller="cartController">
            <div ng-show="cart.products.length === 0 || cart.products === undefined">
                <h3 style="margin-bottom: 25px">Your cart is empty</h3>
                <div class="order"><a class="text-center" ng-click="reload()">Reload</a></div>
            </div>
            <div ng-show="cart.products.length > 0">
                <ul>
                    <li class="row list-inline columnCaptions">
                        <span>QTY</span>
                        <span>ITEM</span>
                        <span>Price</span>
                    </li>
                    <li class="row" ng-repeat="product in cart.products">
                        <span class="quantity">
                            <table>
                                <tr>
                                    <td rowspan="2">
                                        {{product.quantity}}
                                    </td>
                                    <td><a href="#" title="Increase Quantity" ng-click="addQuantity(product, 1)"><i class="fa fa-plus cart-line"></i></a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" title="Decrease Quantity" ng-click="subtractQuantity(product, 1)"><i class="fa fa-minus cart-line"></i></a></td>
                                </tr>
                            </table>
                        </span>
                        <span class="itemName">{{product.item}}</span>
                        <span class="price">{{(product.unitPrice * product.quantity) | currency}}</span>
                    </li>
                    <li class="row totals">
                        <span class="itemName">Total:</span>
                        <span class="price">{{totalCartPrice() | currency}}</span>
                        <span class="order"> <a class="text-center" ng-click="submit()">ORDER</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- JavaScript includes -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-underscore/angular-underscore.min.js"></script>
    <script src="../scripts/traditional/cartApp.js"></script>
    <script src="../scripts/traditional/cartServices.js"></script>
    <script src="../scripts/traditional/cartControllers.js"></script>
</body>
</html>