<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Live Hockey!</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../scripts/gameController.js"></script>
</head>
<body ng-app="gameTrackerApp" ng-controller="gameController">
    <div>
        <ul ng-repeat="player in homeTeam">
            <li>{{player.number}} {{player.name}}</li>
        </ul>
    </div>
    <div>
        <ul ng-repeat="player in awayTeam">
            <li>{{player.number}} {{player.name}}</li>
        </ul>
    </div>
</body>
</html>